<form [formGroup]="authForm" (ngSubmit)="submitForm()">

  <fieldset class="form-group">
    <input
    formControlName="username"
    placeholder="Username"
    class="form-control form-control-lg"
    type="text"/>


    <input
    formControlName="email"
    placeholder="Email"
    class="form-control form-control-lg"
    type="text" />
  <span *ngIf="!authForm.get('email').valid">
    Not valid
  </span>

    <input
    formControlName="password"
    placeholder="Password"
    class="form-control form-control-lg"
    type="password" />
  </fieldset>

  <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
    Submit
  </button>

</form>
