<form [formGroup]="tinyurlForm" (ngSubmit)="submitForm()">

  <fieldset class="form-group">
    <input
      formControlName="url"
      placeholder="URL"
      class="form-control form-control-lg"
      (input)="onInput()"
      type="text"/>


    <input
      formControlName="tinyurl"
      placeholder="tinyurl"
      class="form-control form-control-lg"
      type="text" />



  </fieldset>

  <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
    Submit
  </button>

  <a target="_blank" [href]="tinyurlLink">Browse</a>

</form>
